@import "tailwindcss";

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

@theme {
    --font-sans:
        "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";

    --font-heading: "Hanken Grotesk", sans-serif;
    --font-body: "Hanken Grotesk", sans-serif;
    --font-mono: "JetBrains Mono", monospace;

    /* Brand Colors */

    --color-primary: #00f5ff; /* Neon Cyan */

    --color-secondary: #7b2dff; /* Electric Purple */
    --color-third: #abc7ff; /*Electric Blue */

    /* Surfaces */

    --color-background: #080a0f; /* Page Background */

    --color-surface: #111827; /* Cards, Panels, Terminal Windows */

    /* Typography */

    --color-text: #e5e7eb; /* Primary Text */

    --color-neutral: #9ca3af; /* Secondary Text */

    /* Status Colors */

    --color-success: #00ff88; /* Success / Online */

    --color-warning: #ffb800; /* Warning / Attention */

    --color-danger: #ff4d4d; /* Error / Critical */
}

* {
    cursor: none;
    scroll-behavior: smooth;
}

#cursor-dot,
#cursor-ring {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 9999;
    transform: translate(-50%, -50%);
}

#cursor-dot {
    width: 8px;
    height: 8px;
    background: #00f5ff;
    border-radius: 999px;
    box-shadow:
        0 0 12px #00f5ff,
        0 0 24px #00f5ff;
}

#cursor-ring {
    width: 34px;
    height: 34px;
    border: 1px solid #00f5ff;
    border-radius: 999px;
    box-shadow: 0 0 18px #00f5ff;
    transition:
        width 0.18s ease,
        height 0.18s ease,
        border-color 0.18s ease,
        box-shadow 0.18s ease;
}

#cursor-ring.hover {
    width: 52px;
    height: 52px;
    border-color: white;
    box-shadow: 0 0 25px #00f5ff;
}

#cursor-dot.click {
    transform: translate(-50%, -50%) scale(2);
}
.statusDot {
    width: 8px;
    height: 8px;
    border-radius: 999px;
    background: var(--color-success);
    box-shadow: 0 0 8px var(--color-success);
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    0% {
        opacity: 1;
        transform: scale(1);
        box-shadow: 0 0 5px var(--color-success);
    }
    50% {
        opacity: 0.4;
        transform: scale(1.3);
        box-shadow: 0 0 15px var(--color-success);
    }
    100% {
        opacity: 1;
        transform: scale(1);
        box-shadow: 0 0 5px var(--color-success);
    }
}
